.timelineCue {
    background: rgba(39, 174, 96, 0.25);
    border: 1px solid #27AE60;
    box-sizing: border-box;
    border-radius: 4px;
    min-height: 8px;
    position: relative;
    top: 20px;
    margin: 6px 0;
    display: flex;
    flex-direction: row;
    z-index: 17;
}
.timelineCue.open {
    height: 45px;
}
.actionMarker {
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    cursor: col-resize;
}
.timelineCue-triangle {
    border: 5px solid transparent;
    border-bottom: 10px solid #27AE60;
    position: absolute;
    left: 5px;
    bottom: 0;
    cursor: pointer;
}
