.container {
    display: flex;
    padding: 4px;
    box-sizing: border-box;
}

button {
    background-color: inherit;
    color: green;
    border-color: green;
    padding: 4px;
    margin: 1px;
    outline: none;
}

input {
    color: yellow;
    background-color: inherit;
    padding: inherit;
    margin: 0;
    max-width: 100px;
    text-align: center;
    border-width: 0;
}

.appWrapper {
    background-color: #1e1d1e;
    margin: 0 auto;
    // min-height: 98vh;
    // height: 100%;
    display: grid;
    grid-template-areas:
            "header header"
            "maincues maincues"
            "time time";
    // grid-template-rows: 1fr 20%;
    // grid-template-columns: 1.2fr 1fr;
    color: #ffffff;
    // max-height: 100vh;
    font-family: Roboto, sans-serif;
    background:#000;
}

.headerWrapper {
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // display: flex;
    // align-content: center;
    // justify-content: center;
    // align-items: center;
    height: 100%;
    width: 100%;
    grid-area:header;
}
.contentWorkspaceWrapper{
    grid-area: maincues;
    display: grid;
    grid-template-areas: "main cues"; 
    grid-template-rows: 1fr 20%; 
    grid-template-columns: 1.2fr 1fr;
    position: relative;
    top: -2px;
    margin-bottom: 2px;
}
.mainWorkspaceWrapper {
    display: flex;
    grid-area: main;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    height: 68vh;    
    width: 69vw;
    overflow-x: hidden;
}

.cuesWorkspaceWrapper {
    display: flex;
    grid-area: cues;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    max-height:68vh;
    height: 68vh;
    height: 100%;
    z-index: 200;    
    background: #000000;
}

.timeLineWorkspaceWrapper {
    display: flex;
    grid-area: time;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: #000;
}
