.timelineBlock {
    color: pink;
    height: 100%;
    width: 100%;
    max-width: 100%;
    background-color: black;
    position: relative;
    // background: url('../../assets/timecode.svg');
}
.waveWrapper {
    position: relative;
}
.waveWrapper > wave::-webkit-scrollbar {
    width: 6px;
    background-color: #030;
}
.waveWrapper > wave::-webkit-scrollbar-button {}
.waveWrapper > wave::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #030;
}
.waveWrapper > wave::-webkit-scrollbar-thumb {
    background-color: #000000;
    -webkit-box-shadow: inset 0 0 6px rgba(0,255,0,0.3);
}
.waveWrapper > wave::-webkit-resizer {}
.waveWrapper > wave {
    position: inherit;
    width: 100%;
    height: 100%;
    background-color: black;
}

.timelineTrack {
    min-height: 100%;
    width: 100%;
}

.x-y-mousePos {
    position: absolute;
    bottom: 15px;
    z-index: 15;
}


.timelineControllerWrapper {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    background-color: black;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.timelinePlayerActionsContainer {
    //position: absolute;
    top: 0;
    left: 15px;
    z-index: 15;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.timelineNavContainer {
    height: 50px;
    width: 400px;
    z-index: 15;
}
.trackTimeSpan {
    width: 500px;
    background: black;
    color: green;
}
.SoundWaveBlock {}
.cuesWrapperInside {
    height: 100%;
    min-width: 500px;
    position: relative;
}
.cursorContainer {
    position: absolute;
    height: 100%;
}
.scrollWrap {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    position: absolute;
    /* top: 0px; */
    /* left: 0; */
    /* right: 0; */
    /* bottom: 0; */
}
