.timelineBlock {
    color: pink;
    height: 100%;
    width: 100%;
    max-width: 100%;
    background-color: black;
    position: relative;
    // background: url('../../assets/timecode.svg');
}
.waveWrapper > wave::-webkit-scrollbar {
    width: 6px;
    background-color: #030;
}
.waveWrapper > wave::-webkit-scrollbar-button {}
.waveWrapper > wave::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #030;
}
.waveWrapper > wave::-webkit-scrollbar-thumb {
    background-color: #000000;
    -webkit-box-shadow: inset 0 0 6px rgba(0,255,0,0.3);
}
.waveWrapper > wave::-webkit-resizer {}
.waveWrapper > wave {
    position: inherit;
    width: 100%;
    height: 100%;
    background-color: black;
}

.timelineTrack {
    min-height: 100%;
}

.x-y-mousePos {
    position: absolute;
    bottom: 15px;
    z-index: 15;
}

.timelineNavContainer {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 15;
}
.timelinePlayerActionsContainer {
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 15;
}

.SoundWaveBlock {}
