.mainWorkspaceContent {
    color: orange;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid #222222;
    box-sizing: border-box;
    background: #000;
    padding: 6px;
    z-index: 14;
    @media (min-height:450px) and (max-height:750px){
        grid-template-rows: 9vh 1fr;
    }
    @media (min-height:50px) and (max-height:449px){
        grid-template-rows: calc(10vh + 20px)
    }
    .fixtures {
        color: #fff;
        position: relative;
        td {
            background: #4F4F4F;
            border-radius: 5px;
            color: #fff;
            .fixturesItem {
                display: flex;
                text-align: center;
                flex-wrap: wrap;
                span {
                    flex: 1;
                }
            }
        }
    }
}
.navGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    z-index: 0;
    margin-bottom: 2px;
}

.navGroup button {
    background: #333333;
    border-radius: 2px;
    text-align: center;
    padding: 5px 10px;
    color: #a2a2a2;
    font-size: 15px;
    box-sizing: border-box;
    position: relative;
    line-height: 26px;
    border: none;
    cursor: pointer;
}
.navGroupButton{
    background: #333333;
    border-radius: 2px;
    // margin-top: 2px;
    
}
.navGroupButton .navGroupButtonActive{
    color:#fff;
    background: #444444;
    margin: 0;
    cursor: pointer;
}
.workspaceContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    // background-color: #000;
    position: relative;
    z-index: 1;
   
}

.workspaceContainer {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    overflow: hidden;
    // background: #000;
    &:nth-child(1){
        margin-right: 5px;
        margin-top: 4px;
    }
    &:nth-child(2){
        margin-top: 4px;
    }
}
