.mainWorkspaceContent {
    color: orange;
    display: grid;
    grid-template-rows: 5% 1fr;
    width: 100%;
    height: 100%;
    .fixtures {
        color: #fff;
        td {
            background: #4F4F4F;
            border-radius: 5px;
            color: #fff;
            .fixturesItem {
                display: flex;
                text-align: center;
                flex-wrap: wrap;
                span {
                    flex: 1;
                }
            }
        }
    }
}

.navGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 5px;
}

.navGroup button {
    background: #333333;
    border-radius: 2px;
    text-align: center;
    padding: 5px 10px;
    color: #a2a2a2;
    font-size: 16px;
    box-sizing: border-box;
    position: relative;
    line-height: 26px;
    border: none;
}

.workspaceContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #0D0C0C;
}

.workspaceContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}