.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2px;
  margin: 0 3px;
}

.element {
  display: flex;
  width: 100%;
  height: 45px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.element:hover {
  background-color: #585858;
}
.element img {
  max-height: 30px;
}

.headerUploadColor .element{
  width: 30px;
  height: 30px;
}
.headerUploadColor{
  padding: 0 3px 6px 3px;
}
.headerUploadPicture span,
.headerUploadColor span{
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #FFFFFF;
  margin: 10px 0;
  display: block;
}
.uploadPictureWrap{
  display: flex;
  justify-content: center;
  margin: 4px auto 0;
  width: 194px;
  padding: 4px 0;
  background: #0D0C0C;
  border-radius: 4px;
}
.uploadPicture{
  background: #2F80ED;
  border-radius: 12px;
  width: 170px;
  height: 24px;
  color: #fff;
  border: 0;
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 9px;
}
.importWrapper input{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1;   
}

.importWrapper input + label {
  border-radius: 12px;
  width: 170px;
  height: 27px;
  color: #fff;
  border: 0;
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  background-color: #2F80ED;
  display: inline-block;  
}
.importWrapper input:focus + label,
.importWrapper input + label:hover {
    background-color: #27AE60;
}
.importWrapper input + label {
	cursor: pointer;
}
.importWrapper:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.importWrapper input + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: #FFFFFF;
  margin-top: -0.25em;
  margin-right: 0.25em;
}
