.patchWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;  
  width: 100%;
  z-index: 10;
  position: relative;
  background: #444444;
  border-radius: 2px;
  overflow: hidden;
}
.DeviceLibraryWrapper{
  background: #000000;
  border-radius: 4px;
  margin: 0 2px;
  height: 85%;
  overflow-y: scroll;
}
.typesWrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.patchFixtureWrapper {
  margin: 15px;
  cursor: pointer;
}
.patchFixtureWrapper.selected {
  color: #27AE60;
}
.patchControlsWrapper {
  display: flex;
  flex-direction: column;
  min-height: 55px;
  color: #fff;
  background-color: #444444;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 2px;
}
.patchControlsWrapper > * button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #828282;
  color: #fff;
  width: 100px;
  height: 24px;
  border: 0;
  border-radius: 2px;
  margin-left: 5px;
}
.patchControlsWrapper > * input {
  max-width: 75px;
  width: 48px;
  height: 20px;
  color: #fff;
  outline: none;
  background: #000000;
  border-radius: 2px;
  padding-right: 0;
  line-height: 1.6;
  margin-left: 6px;
}
.patchControlsWrapper > * div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
}
.rowWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 0px 8px 26px;
  overflow: hidden;
  flex-wrap: wrap;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 4px;
}
.rowBtn{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 4px 4px 4px;;
}
.patchWrapper h2{
     font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    color: #fff;
    font-size: 13px;
    line-height: 12px;
    padding-left: 7px;
}
.DeviceLibraryWrapper::-webkit-scrollbar {
  width: 8px;
}
.DeviceLibraryWrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #C4C4C4;
}
.DeviceLibraryWrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #222222;
}