.WrapCues {
    border-radius: 5px;
    border: 2px solid #444444;
    //box-sizing: border-box;
    width: 100%;
}

.TableCues {
    color: #fff;
    border-collapse: collapse;
    font-size: 14px;
    width: 100%;
}
.TableCues td img{
    width: 24px;
    height: auto;
}
.headerTableCues {
    background: #444444;
    border-radius: 5px;
}

.TableCues td {
    text-align: center;
    padding: 9px;
    vertical-align: middle;
}

.headerTableCues-active {
    color: #27AE60;
}