
.FrameAccordion,
.FrameAccordion h2 {
  color: #fff;
  font-size: 13px;
  line-height: 12px;
  margin-left: 15px;
  margin-bottom: -15px;
  margin-right: 5px;
  position: relative;
}
.FrameAccordion{
  margin-bottom: 6%;
}
.FrameAccordionBottom,
.FrameAccordionBottom h2 {
  color: #fff;
  font-size: 13px;
  line-height: 12px;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 5px;
  position: relative;
}


.FrameAccordionImg,.FrameAccordionImg-collapsed {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 15px;
  background: #444444;
  color: #C4C4C4;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  top: 0px;
  left: -7px;
  border-radius: 2px;
  font-size: 31px;
}
.FrameAccordionBottom .FrameAccordionImg {
  position: absolute;
  width: 15px;
  height: 15px;
  background: #444444;
  color: #C4C4C4;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  top: 0px;
  left: -7px;
  border-radius: 2px;
  font-size: 16px
}

.FrameAccordionBottom .FrameAccordionImg::before{
  content: '';
  width: 0;
  height: 0;
  background: #444444;
  border-radius: 2px;
  position: absolute;
  top: 25px;
  left: 5px;
}
.FrameAccordionImg-collapsed::after{
  content: "";
  position: absolute;
  width: 8px;
  height: 2px;
  background: #C4C4C4;
  top: calc(50% - 1px);
  left: calc(50% - 4px);
  transition: ease-in-out 0.3s;
}
.FrameAccordionImg-collapsed:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 8px;
  background: #C4C4C4;
  top: calc(50% - 4px);
  left: calc(50% - 1px);
  transition: ease-in-out 0.3s;
}


.FrameAccordionImg:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 2px;
  background: #C4C4C4;
  top: calc(50% - 1px);
  left: calc(50% - 4px);
  transition:ease-in-out 0.1s;
}
.FrameAccordionImg::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 2px;
  background: #C4C4C4;
  top: calc(50% - 1px);
  left: calc(50% - 4px);
  transition: ease-in-out 0.1s;
}
.AccordionBottom-collapsed {
  height: 0px;
  overflow: hidden;
  transition: all 2s;
  position: relative;
}
.AccordionBottom{
  height: auto;
  transition: all 2s;
}
.WrapFixtures img.FrameAccordionImg-collapsed{
  display: none;
}
.WrapFixtures img.FrameAccordionImg{
  display: none;
}
.DeviceLibraryWrapper img{
  width: 10px;
  height: 10px;
  position: absolute;
  background: #000;
  fill:"#2f80ed";
}
.DeviceLibraryWrapper span{
  display: none;
}
.AccordionBottom .typesWrapper{
  position: relative;
  top: 28px;
  left: 36.21px;
}
.AccordionBottom .typesWrapper div{
  margin-bottom: 9px;
}
.DeviceLibraryWrapper .FrameAccordionImg-collapsed{
  transform: rotate(-90deg);
  transition: 0.3s all;
  width: 14px;
  height: 11px;;
}
.DeviceLibraryWrapper .FrameAccordionImg{
  transform: rotate(0deg);
  transition: 0.3s all;
  width: 14px;
    height: 10px;
}
.DeviceLibraryWrapper .FrameAccordion{
  margin-bottom: 9%;
}