.cuesWrapper {
    // color: green;
    display: grid;
    grid-template-rows: 14% 1fr;
    width: 99%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 2px;
}

.selectionButtons {
    position: absolute;
    z-index: 4;
    bottom: 6px;
    background: #444444;
    left: 10px;
    width: 36%;
}

.selectionButtonsSetting {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 99%;
    margin:2px;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
}

.selectionButtonsTop,
.selectionButtonsBottom {
    flex: 0 0 100%;
    background: #333333;
    box-sizing: border-box;
    position: relative;
}

.selectionButtonsTop button,
.selectionButtonsBottom button {
    text-align: center;
    padding: 15px;
    color: #a2a2a2;
    font-size: 16px;
    box-sizing: border-box;
    position: relative;
    border: 0;
     ::before {
        content: '';
        width: 2px;
        height: 20px;
        background: #222222;
        position: absolute;
        right: 0;
    }
}

.selectionButtonsTop {
    border-radius: 2px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-around;
    .activeButtonsTop {
        color: #F5F5F5;
    }
    button {
        width: 100%;
        position: relative;
    }
}

.selectionButtonsTop button::before {
    content: '';
    width: 2px;
    height: 28px;
    background: #222222;
    position: absolute;
    right: 0;
    z-index: 9;
}

.activeButtonsTop {
    background: #2F80ED;
    border-radius: 2px;
    position: relative;
    color: #fff;
    font-size: 0.8rem;
}

.selectionButtonsTop .activeButtonsTop::before {
    content: '';
    width: 0;
    height: 0;
    background: #222222;
    position: absolute;
    right: 0;
}

// .selectionButtonsTop button:nth-child(1),
// .selectionButtonsTop button:nth-child(4) {
//    // width: 20%;
// }

// .selectionButtonsTop button:nth-child(2),
// .selectionButtonsTop button:nth-child(3) {
//     //width: 30%;
// }

.selectionButtonsTop button:nth-child(4):before {
    content: '';
    width: 0;
    height: 0;
    background: #222222;
    position: absolute;
    right: 0;
}

.selectionButtonsBottom {
    border-radius: 2px 0 0 2px;
    button::before {
        content: '';
        width: 2px;
        height: 28px;
        background: #222222;
        position: absolute;
        right: 0;
    }
}

.selectionButtonsSetting .activeButtonsBottom {
    background: #444444;
    color: #fff;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0;
    // max-height: 40%;
}

.selectionButtonsBottom .activeButtonsBottom::before {
    content: '';
    width: 0;
    height: 0;
    background: #222222;
    position: absolute;
    right: 0;
}

.selectionButtons button {
    color: #a2a2a2;
    border-color: transparent;
    padding: 4px;
    margin: 1px;
    outline: none;
    background: #4444;
    width: 43%;
}

.selectionButtonsSetting button {
    text-align: center;
    padding: 5px 10px;
    color: #a2a2a2;
    font-size: 0.7rem;
    box-sizing: border-box;
    position: relative;
    line-height: 26px;
    max-height: 34px;
}
.cuesWrapperContentScroll{
    overflow: hidden;
}
.cuesWrapperContent {
    width: 99%;
    height: 100%;
    //height: 65.5vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);;
    flex-wrap: wrap;
    overflow-y: scroll;
    border: 2px solid #444444;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 2px 2px 2px;
    // height: -webkit-fill-available;
    position: relative;
    z-index: 1;
    overflow-y: scroll;
    padding-right: 4px;
    background: #1e1d1e;
    align-content: start;    
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #222222;
    }
    
    &::-webkit-scrollbar {
        width: 8px;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #C4C4C4;
    }
    
        @media screen and (max-width: 1300px){
        grid-template-columns: repeat(4, 1fr);
        width: 99%;
        //height: 65.7vh; 
        height: 100%;        
        //  max-height: 85.7%;
        // grid-template-rows: 22% 22% 22%;
        
    

    }
    @media (min-width: 800px) and (max-width: 1100px){
        grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 320px) and (max-width: 799px){
        grid-template-columns: 1fr 1fr ;
        //height: 61.7vh;
         height: 100%;
        width: 28vw;
        // max-height: 85.7%;
    }
}

.cuesWrapperContent::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #222222;
}

.cuesWrapperContent::-webkit-scrollbar {
    width: 8px;
}

.cuesWrapperContent::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #C4C4C4;
}
