
.WrapEffect {
  padding-top: 2px;
  border-radius: 5px;
  border: 2px solid #444444;
  border-top: 0;
  box-sizing: border-box;
  margin: 0 5px;
  background: #444444;
  width: 35%;
  // overflow: hidden;
}

.WrapEffect .EffectBt {
  background: #27AE60;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), inset 0px 0.5px 1px rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  width: 94%;
  height: 48px;
  outline: none;
  border: 0;
  color: #fff;
  box-sizing: border-box;
  transform: scale(0.8);
  margin: 4px 4px 8px 4px;
}

.WrapEffect button {
  background: #828282;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), inset 0px 0.5px 1px rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  width: 94%;
  height: 32px;
  outline: none;
  border: 0;
  color: #fff;
  box-sizing: border-box;
  margin: 4px 4px 4px 4px;
  transform: scale(0.8);
  cursor: pointer;
}

.EffectItem,
.EffectWrapTest {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin:  0;
  transform: scale(0.8);
}

.EffectItem span:nth-child(1) {
  background: #333333;
  width: 94%;
  height: 21px;
  color: #fff;
  text-align: center;
  border-radius: 5px 5px 0 0;
  padding: 5px 0;
}

.EffectItem span:nth-child(2) {
  background: #222222;
  width: 94%;
  height: 26px;
  text-align: center;
  color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 5px 0;
}

.EffectItemTest {
  background: #333333;
  width: 94%;
  height: 21px;
  color: #fff;
  text-align: center;
  border-radius: 5px 5px 0 0;
  padding: 5px 0;
}

.Effecttest {
  background: #222222;
  width: 94%;
  height: 26px;
  text-align: center;
  color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Effecttest span {
  background: #828282;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 2px;
  cursor: pointer;
}

.Effecttest .Effecttest-active {
  background: #27AE60;
}

.Effecttest .Effecttest-error {
  background: #EB5757;
}
