.headerContent {
  color: aqua;
  position: absolute;
  top: 18px;
  z-index: 15;
  left: 30%;
}
.headerContext {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10px;
  z-index: 15;
  left: 15px;
  background: black;
  color: #4F4F4F;
}
.importWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #1e1d1e;
  color: #4F4F4F;
  min-height: 50vh;
  min-width: 400px;
    input{
    max-width: 100%;
  }
  input[type=submit]{
    margin: 10px 0;
  }
}
.headerContent button{
  background: #333333;
  border-radius: 2px;
  text-align: center;
  padding: 5px 10px;
  color: #a2a2a2;
  font-size: 15px;
  box-sizing: border-box;
  position: relative;
  line-height: 26px;
  border: none;
}