.headerContent {
  color: aqua;
  position: absolute;
  top: 10px;
  z-index: 15;
  left: 15px;
}
.headerContext {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10px;
  z-index: 15;
  left: 15px;
  background: black;
  color: #4F4F4F;
}
.importWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #1e1d1e;
  color: #4F4F4F;
  min-height: 50vh;
  min-width: 400px;
}
