
.FrameAccordion,
.FrameAccordion h2 {
    color: #fff;
    font-size: 13px;
    line-height: 12px;
    margin-left: 15px;
    margin-bottom: -15px;
    margin-right: 5px;
    position: relative;
}
.FrameAccordion{
    margin-bottom: 6%;
}
.FrameAccordionBottom,
.FrameAccordionBottom h2 {
    color: #fff;
    font-size: 13px;
    line-height: 12px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 5px;
    position: relative;
}


.FrameAccordionImg,.FrameAccordionImg-collapsed {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #444444;
    color: #C4C4C4;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    top: 0px;
    left: -7px;
    border-radius: 2px;
    font-size: 31px;
}
.FrameAccordionBottom .FrameAccordionImg {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #444444;
    color: #C4C4C4;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    top: 0px;
    left: -7px;
    border-radius: 2px;
    font-size: 16px
}
.fixtures::before {
  content: '';
  width: 2px;
  height: 98%;
  background: #444444;
  border-radius: 2px;
  position: absolute;
  top: 3px;
  left: 0;  
}
.FrameAccordionBottom .FrameAccordionImg::before{
    content: '';
    width: 0;
    height: 0;
    background: #444444;
    border-radius: 2px;
    position: absolute;
    top: 25px;
    left: 5px;
}
.FrameAccordionImg-collapsed::after{
  content: "";
    position: absolute;
    width: 8px;
    height: 2px;
    background: #C4C4C4;
    top: calc(50% - 1px);
    left: calc(50% - 4px);
    transition: ease-in-out 0.3s;
}
.FrameAccordionImg-collapsed:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 8px;
  background: #C4C4C4;
  top: calc(50% - 4px);
  left: calc(50% - 1px);
  transition: ease-in-out 0.3s;
}


.FrameAccordionImg:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 2px;
  background: #C4C4C4;
  top: calc(50% - 1px);
  left: calc(50% - 4px);
  transition:ease-in-out 0.3s;
}
.FrameAccordionImg::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 2px;
  background: #C4C4C4;
  top: calc(50% - 1px);
  left: calc(50% - 4px);
  transition: ease-in-out 0.3s;
 }


.AccordionBottom-collapsed {
  height: 0px;
  overflow: hidden;
  transition: all 2s;
  position: relative;
  transform: translateY(-100%);
  opacity: 0;
}
.AccordionBottom{  
  height: auto;
  overflow: auto;
  transform: translateY(0%);
  opacity: 1;
  transition: all 2s;
}
.fixtures{
    margin-top: 28px;    
}

.fixtureRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    margin: 2.5px 0px 3px 11px;
    width: max-content;
    ////@media screen  and (max-width: 1250px) {
    ////    .files_list .files .files_img img{
    ////        max-height: 340px;
    ////        min-height: 340px;
    ////        max-width: 226px;
    ////        width: auto;
    ////    }
    //}
}

// .fixtureRow img {
//     width: 42px;
//     background: #4F4F4F;
//     border-radius: 5px;
//     height: 41px;
//     margin-right: 2px;
//     padding: 7px;
// }
.title {
    font-size: 9px;
    margin-top: -3px;

}

.paramBlock {
    display: flex;
    flex-direction: column;
    background: #4F4F4F;
    border-radius: 5px;
    height: 37px;
    margin-right: 3px;
    padding: 7px 7px 0 7px;
    text-align: center;
    min-width: 32px;
    font-size: 12px;
    @media screen and(max-width: 1400px) {
        width: auto;
    }
}
.titleParameters{
    margin: 4px 0 3px 0;
    font-size: 14px;
}
.paramBlock.paramDmx{
    flex-direction: row;
}
.blockDmx,
.blockFireMachine{
    display: flex;
    flex-direction: column;
}
.blockFireMachine input {
  max-width: 89px;
}
.blockDmx{
    width: 33px;
    position: relative;
    margin-right: 14px;
    padding-right: 7px;
}
.blockDmx:before{
    content: '';
    width: 1.5px;
    right: 0;
    top: -3px;
    height: 36px;
    background: #000;
    opacity: 0.5;
    border-radius: 2px;
    position: absolute;
}

.paramBlock:last-child{
      width: 42px;
      padding: 3px;
      height: 38px;
      margin-right: 0;
  }
.paramBlock:nth-child(1){
    margin-right:2.5px;
}
.paramBlock-active {
    background: #27AE60;
}
.paramBlock:nth-child(4),
.paramBlock:nth-child(5),
.paramBlock:nth-child(6){
    width: 40px;
}

.WrapFixtures {
    width: 100%;
    height: 99.7%;
    margin-top: 2px;
    border-radius: 5px;
    border: 2px solid #444444;
    box-sizing: border-box;
    overflow-y: hidden;
}
.WrapFixturesScroll{
    overflow-y: scroll;
    width: 100%;
    height: 59vh;
}
.WrapFixturesScroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #222222;
}

.WrapFixturesScroll::-webkit-scrollbar {
    width: 8px;
}

.WrapFixturesScroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #C4C4C4;
}
.positionPach{
    margin-top: 6px;
    margin-left: 5px;
}
.positionPachItem{
    display: flex;
    align-items: center;
    color: #fff;
    margin: 3px 0;
}
.PachItemOne{
    background: #4F4F4F;
    height: 24px;
    width: 21.4%;
    clip-path: polygon(100% 0%, 100% 48%, 100% 100%, 10% 100%, 0% 50%, 10% 0%);
    border-radius: 0px 5px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
}
.PachItemTwo{
    background: #4F4F4F;
    height: 24px;
    width: 44%;
    border-radius:5px ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
}
.PachItemThree{
    background: #4F4F4F;
    height: 24px;
    width:34%;
    border-radius:5px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
$lightred: #f12e50;
$red: #ee0c4b;
$darkred: #c80e3d;

* {
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: border-box;
  }
}

body {
  background: black;
}

.main {
  position: absolute;
  background: $lightred;
  top: 50%;
  left: 50%;
  width: 40%;
  max-width: 30em;
  min-width: 15em;
  transform: translate(-50%, -50%);
  overflow: hidden;
  .title {
    color: #fff;
    background: $darkred;
    text-align: center;
    font-weight: 700;
    line-height: 1.2em;
    padding: 1em;
  }
}

.section {
  position: relative;
  width: 100%;
  border-bottom: 5px solid $darkred;
  border-left: 2px solid $darkred;  
  border-right: 2px solid $darkred;
  button {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    height: 3em;
    width: 3em;
    outline: 0;
    border: 0;
    background: none;
    text-indent: -9999%;
    pointer-events: none;
    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 12px;
      width: 4px;
      border-radius: .3em;
      background: $red;
      transform-origin: 50%;
      top: 50%;
      left: 50%;
      transition: all .25s ease-in-out;
      transform: translate(75%, -50%) rotate(45deg);
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 12px;
      width: 4px;
      border-radius: .3em;
      background: $red;
      transform-origin: 50%;
      top: 50%;
      left: 50%;
      transition: all .25s ease-in-out;
      transform: translate(-75%, -50%) rotate(-45deg);
    }
  }
}

.section.open {
  button {
    &:before, &:after {
      height: 14px;
    }
    &:before {
      transform: translate(0%, -50%) rotate(-45deg);
    }
    &:after {
      transform: translate(0%, -50%) rotate(45deg);
    }
  }
  .articlewrap {
    height: 120px;
  }
}

.articlewrap {
  height: 0;
  overflow: hidden;
  transition: all .2s ease-in;
}

.sectionhead {
  width: 100%;
  overflow: hidden;
  background: white;
  cursor: pointer;
  font-weight: 700;
  color: #888;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 1em;
  padding-right: 2.1em;
}

.article {
  padding: 1em;
  color: #333;
  line-height: 1.3;
}