.WrapCuesList {
    display: flex;
    width: 100%;
}

.TableCuesList {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    border-radius: 2px 2px 0 0px;
    overflow: hidden;
    border-collapse: collapse;
    flex-direction: column;
    color: #fff;
    height: 100%;
    font-size: 14px;    
}

.cueListItem {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;   
    width: calc(31vw - 14px);
    position: relative;  
    margin-top: 2px;  
}
.cueListItem::before {
    content: "";
    width: 98%;
    height: 1px;
    position: absolute;
    background: #000;
    opacity: 0.5;
    border-radius: 1px;
    bottom: -2px;
    margin: 0 auto;
    left: 1%;
}
.cueListItem > * span {
    
    &:nth-child(1){
        flex:0 0 7.5%
    }
    &:nth-child(2){
        flex:0 0 30.8%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;    
    }
    &:nth-child(3){
        flex:0 0 16%
    }
    &:nth-child(4){
        flex:0 0 16%
    }
    &:nth-child(5){
        flex:0 0 14.6%
    }
    &:nth-child(6){
        flex:0 0 14.6%;
    }
}
.TableCuesList-active {
    background-color: red;
}

.headerTableCuesList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #444444;
    width: 100%;
    min-height: 52px;   
}

.TableCuesList > * span {
    text-align: center;
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    &:nth-child(1){
        flex:0 0 7.5%
    }
    &:nth-child(2){
        flex:0 0 30.8%
    }
    &:nth-child(3){
        flex:0 0 16%
    }
    &:nth-child(4){
        flex:0 0 16%
    }
    &:nth-child(5){
        flex:0 0 14.6%
    }
    &:nth-child(6){
        flex:0 0 14.6%
    }
}

.headerTableCuesList-active {
    color: #F2C94C;
}

.headerTableCuesList-dmx {
    color: #F2C94C;
}

.headerTableCuesList-hex {
    color: #EB5757;
}
.cueListNameInput {

}
