.WrapCuesList {
    display: flex;
    width: 100%;
}

.TableCuesList {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    border-radius: 2px 2px 0 0px;
    overflow: hidden;
    border-collapse: collapse;
    flex-direction: column;
    color: #fff;
    height: 100%;
    font-size: 14px;
}

.cueListItem {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.TableCuesList-active {
    background-color: red;
}

.headerTableCuesList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #444444;
    width: 100%;
    min-height: 52px;
}

.TableCuesList > * span {
    text-align: center;
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.headerTableCuesList-active {
    color: #F2C94C;
}

.headerTableCuesList-dmx {
    color: #F2C94C;
}

.headerTableCuesList-hex {
    color: #EB5757;
}
.cueListNameInput {

}
