.counter {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: red;
    z-index: 2;
    background-color: #000000e0;
}
.bgImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.fixture {
    display: flex;
    position: relative;
}
.fixtureShot {
    display: flex;
    position: relative;
}
.fixture::before {
    content: ' ';
    display: flex;
    height: 50px;
    position: absolute;
    top: -53px;
    width: 5px;
    color: orange;
    left: 11px;
    z-index: 15;
    background-color: red;
}
.fixtureShot img{
    background: #4F4F4F;
    padding: 3px;
    border-radius: 2px;  
    margin-right: 5px;  
}
.fixtureShot .fixtureImg{    
        border:1.5px solid #27AE60;    
}
.fixturesNumber{
    position: absolute;
    bottom: 0px;
    left: 0;
    color: #fff;
    font-size: 9px;
    background: #a2a2a2;
    width: 9px;
    height: 9px;
    padding: 0px;
    text-align: center;
    
}
.fixturesNumber{
    background: #27AE60;
    font-family: sans-serif;
}
.counterBtn{
    align-self: flex-start;
}
.counterBtn button,
.counter button{
    background: #333333;
    border-radius: 2px;
    text-align: center;
    padding: 1px 8px;
    color: #a2a2a2;
    font-size: 13px;
    box-sizing: border-box;
    position: relative;
    line-height: 26px;
    border: none;
}
