.visualizerWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
    z-index: 2;
    // background-color: #000000e0;
    // overflow-x: scroll;
}

.visualizerWrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #222222;
}

.visualizerWrapper::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.visualizerWrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #C4C4C4;
}
.bgImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.fixtureViz {
    display: flex;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
}

.fixtureShot {
    content: ' ';
    display: flex;
    height: 50px;
    position: absolute;
    top: -53px;
    width: 5px;
    color: orange;
    left: 11px;
    z-index: 15;
    transform-origin: center bottom;
    background-color: red;
}
.fixtureViz img{
    background: #4F4F4F;
    padding: 3px;
    border-radius: 2px;
    margin-right: 5px;
}
.fixtureVizImg {
    border:1.5px solid #4F4F4F;
}
.fixtureVizImg.active {
    border:1.5px solid #27AE60;
}
.fixturesNumber{
    position: absolute;
    bottom: 0px;
    left: 0;
    color: #fff;
    font-size: 9px;
    background: #a2a2a2;
    width: 9px;
    height: 9px;
    padding: 0px;
    text-align: center;

}
.fixturesNumber.active{
    background: #27AE60;
    font-family: sans-serif;
}
.counterBtn{
    position: absolute;
    bottom: 1px;
    left: 0;
}
.counterBtn button,
.counter button{
    background: #333333;
    border-radius: 2px;
    text-align: center;
    padding: 1px 8px;
    color: #a2a2a2;
    font-size: 13px;
    box-sizing: border-box;
    position: relative;
    line-height: 26px;
    border: none;
    &.fixturesBtnPosition-active{
        color: #fff;
        background: #444444;
    }
}
